html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  font-family: 'Open Sans', sans-serif; }

h1 {
  border: 1px solid yellow; }

p {
  background: pink;
  color: #e1c184;
  height: 200px;
  width: 200px; }
